{% extends 'base.html.twig' %}
{% block title %}{{ category.title }} лил░ {{ question.cost }}{% endblock %}
{% block body %}
    <div>
        {{ question.answer }}
    </div>
    <img src="{% path question.answerImage, 'big' %}">

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}