{% extends 'base.html.twig' %}
{% block title %}{{ tour.title }}{% endblock %}
{% block body %}
    <div>
        <h1>{{ tour.title }}!</h1>
    </div>
    <div class="scores">
        <h2>Счет:</h2>
        {% for team in teams %}
            <div class="team-scores">{{ team.name }}: {{ team.scores }}</div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
    {% if tour_is_done %}
        {% if next_tour %}
            <div>ПОТРЯСАЮЩЕ! Вы ответили на все вопросы во всех категориях, и теперь время следующего тура! После музыкальной паузы, конечно.</div>
            <a href="{{ path('tour', {'tour_slug': next_tour.slug}) }}">Перейти к {{ next_tour.title }}</a>
        {% else %}
            <div>Отлично! Игра окончена! И кто-то из вас вероятно победил, впрочем мы забыли подсчитать очки! Пака!</div>
        {% endif %}
    {% else %}
        <table class="que-table">
            {% for category in categories %}
                <tr>
                    <td class="que-table-title">{{ category.title }}</td>
                    {% for question in questions if question.category.getId == category.id %}
                        <td>
                            {% if question.done == false %}
                                <a href="{{ path('question', {'category_slug': category.slug, 'cost': question.cost }) }}">
                                    <div class="que-table-cost">{{ question.cost }}</div>
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    {% endif %}
{% endblock %}